# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.
click==8.0.3
    # via -r requirements.in
pyyaml==6.0
    # via -r requirements.in
tabulate==0.8.9
    # via -r requirements.in
