# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.
asynctest==0.13.0
    # via -r requirements-test.in
black==21.9b0
    # via -r requirements-test.in
certifi==2021.10.8
    # via requests
charset-normalizer==2.0.7
    # via requests
click==8.0.3
    # via
    #   black
    #   safety
coverage==6.0.2
    # via
    #   -r requirements-test.in
    #   nose2
dparse==0.5.1
    # via safety
flake8-import-order==0.18.1
    # via -r requirements-test.in
flake8==4.0.1
    # via -r requirements-test.in
idna==3.3
    # via requests
mccabe==0.6.1
    # via flake8
mock==4.0.3
    # via -r requirements-test.in
mypy-extensions==0.4.3
    # via black
nose2==0.10.0
    # via -r requirements-test.in
packaging==21.0
    # via
    #   dparse
    #   safety
pathspec==0.9.0
    # via black
platformdirs==2.4.0
    # via black
pycodestyle==2.8.0
    # via
    #   flake8
    #   flake8-import-order
pyflakes==2.4.0
    # via flake8
pyparsing==2.4.7
    # via packaging
pyyaml==6.0
    # via dparse
regex==2021.10.8
    # via black
requests-mock==1.9.3
    # via -r requirements-test.in
requests==2.26.0
    # via
    #   requests-mock
    #   safety
safety==1.10.3
    # via -r requirements-test.in
six==1.16.0
    # via
    #   nose2
    #   requests-mock
toml==0.10.2
    # via dparse
tomli==1.2.1
    # via black
typing-extensions==3.10.0.2
    # via black
urllib3==1.26.7
    # via requests

# The following packages are considered to be unsafe in a requirements file:
# setuptools
